apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: {{- if .Values.image.digest }}"{{ .Values.image.repository }}@{{ .Values.image.digest }}"{{- else }}"{{ .Values.image.repository }}:{{ .Values.image.tag }}"{{- end }}
          ports:
            - containerPort: 8000
