replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/YOUR_GH_USERNAME/myapp
  tag: c8939cc2
  pullPolicy: IfNotPresent
  digest: sha256:f634066dcd7a4abe2127a50a2dba71aa42a1a2ec61d5a74cc06ef5e2946be81e

service:
  type: ClusterIP
  port: 8000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
