replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/abrahamoo/myapp
  tag: latest
  pullPolicy: IfNotPresent
  digest: ""

service:
  type: ClusterIP
  port: 8000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
