replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/abrahamoo/myapp
  tag: e165cd20
  pullPolicy: IfNotPresent
  digest: sha256:e025068061acc5c33586eea267d5dd25e14d866642569db5ff1f2ccfe3b1bda3

service:
  type: ClusterIP
  port: 8000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
