replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/YOUR_GH_USERNAME/myapp
  tag: ebde648c
  pullPolicy: IfNotPresent
  digest: sha256:a0bacf8e5dee378614e83bc7575105967af26979b908a6b7d2a855bf6a82c8cf

service:
  type: ClusterIP
  port: 8000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
