name: CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        run: docker build -t local/myapp:latest ./app
      - name: Test image
        run: docker run --rm -d -p 8000:8000 local/myapp:latest
      - name: Lint Helm chart
        run: helm lint ./helm/myapp
